<div class="container text-center mt-5">
  <h1 class="bg-dark text-light p-5 mb-5">MEAN Stack with SQLite Example</h1>

  <div>
    <div class="row mb-2 ps-3">
      <div class="col-3 pt-1 bg-light"><label for="itemName">Name:</label></div>
      <div class="col-9">
        <input class="form-control" id="itemName" [(ngModel)]="newItemName" />
      </div>
    </div>

    <div class="row ps-3">
      <div class="col-3 pt-1 bg-light">
        <label for="itemDesc">Description:</label>
      </div>
      <div class="col-9">
        <input class="form-control" id="itemDesc" [(ngModel)]="newItemDesc" />
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-warning mt-3" (click)="addItem()">
        Add Item
      </button>
    </div>
  </div>

  <div class="container mt-5">
    <h1 class="bg-warning p-2">List Items</h1>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{item.id}}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>
            <button class="btn btn-outline-danger border-0 me-2"><i class="fa-solid fa-trash"></i></button>
            <button class="btn btn btn-outline-success border-0 rounded-5"><i class="fa-regular fa-pen-to-square"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
